
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  background: linear-gradient(to right, #040e1d, #221124);
  color: white;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.gradient1 {
    background: linear-gradient(to right, #ec4899, #a855f7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}


.transition-loaded {
  opacity: 100;
  transform: translateY(0);
  transition: all 1s ease-in;
}

.transition-not-loaded {
  opacity: 0;
  transform: translateY(-8px);
}

.transition-opacity {
  transition: opacity 1s ease-in;
}




/* .separator {
  background-image: 
    linear-gradient(to bottom right, #040e1d, #221124 50%, transparent calc(50% + 1px)),
    linear-gradient(180deg, #040e1d49 50%, #040e1d00);
  height: clamp(70px, 35px + 10vw, 200px);
  margin: 1em 0;
} */